<header>
      <h1 class="site-title">OSU Running Club</h1>

    <!-- <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="/calendar">Calendar</a>
          <a href="/pictures">About Us?</a>
          <a href="/officers">Officers</a>
        </div>
      </div> !-->

      <nav class="navbar">
        <ul class="navlist">
          <li class="navlink"><a href="/">Home</a></li>
          <li class="navlink"><a href="/calendar">Calendar</a></li>
          <li class="navlink"><a href="/pictures">Camera Roll</a></li>
          <li class="navlink"><a href="/officers">Officers</a></li>
          <a href="https://www.facebook.com/Oregon-State-Running-Club-691326947588849/" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"> </i> </a>
		  <a href="https://twitter.com/OSURunning" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
		  <a href="https://instagram.com/ianabbene/" target="_blank">  <i class="fa fa-instagram" aria-hidden="true"></i> </a> <!--We don't have an instagram yet..!-->
          </li> <!-- What is this </li> for?? -->
        </ul>
      </nav>
</header>