<div class="officerCard">

	<div class = "image-container">
		<img class = "officer-photo" src = "{{url}}"/>
	</div>

	<div class = "name-container">
		{{name}}
		<div class = "title-container">
		 {{title}}
	 	</div>
	</div>



	<div class = "bio-container">
		{{bio}}
	</div>

</div>
