<div class="officerCard">
	<div class = "name-container">
		{{name}} - {{title}}
	</div>
	<div class = "bio-container">
		{{bio}}
	</div>
	<div class = "image-container">
		<img class = "officer-photo" src = "{{url}}"/>
	</div>
</div>