<div class="camera-card">

	<div class = "image-container">
		<a href="{{url}}"><img class = "camera-photo" src = "{{url}}"/></a>
	</div>

	<div class = "caption-box">
		<div class = "title-container">
		 {{title}}
	 	</div>
		{{caption}}
	</div>
</div>
