<div class="camera-card">

	<div class = "image-container">
		<img class = "camera-photo" src = "{{url}}"/>
	</div>

	<div class = "caption-box">
		<div class = "title-container">
		 {{title}}
	 	</div>
	</div>
</div>
