<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Fira+Sans" rel="stylesheet"> <!--Arvo and Fira Sans !-->
    <script src="https://use.fontawesome.com/ad1a1c4faa.js"></script> <!-- Enabling use of fontawesome's social media icons !-->

  </head>

  <body>
	{{{body}}}
  </body>

  <script src="/index.js" charset="utf-8"></script>

</html>
