{{> navbar}}

<main>
    <div class="main-container">
      <div class="not-found-container">
        <p class="error-404">Error 404</p> <p class="para-not-found"> Page Not Found</p>
      </div>
    </div>
    {{> tailbar}}
</main>
