{{> navbar}}

<main>
    <div class="main-container">
      <p>Home</p>
	 <div class="contact-container"> {{> contact}} </div>

    {{#each announcements}}
      {{> announcementTemplate}}
    {{/each}}
    </div>


</main>
