{{> navbar}}

<main>
    <div class="main-container">

	 <div class="contact-container"> {{> contact}} </div>

    {{#each announcements}}
      {{> announcementTemplate}}
    {{/each}}
    </div>

{{> tailbar}}
</main>
