body
{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

/************************ Navbar ************************/

/**** Site Title ****/
.site-title
{
	font-family: 'Arvo', serif;
	color: #fff;
	background-color: #dc4405;
	margin: 0;
	padding: .8em 1em;
	font-size: 40px;
}

.site-title a{
	text-decoration: none;
	color: inherit;
}

.site-title a:hover{
	color: #fff;
}

/*OSU orange: #dc4405*/

/**** NavBar ****/
.navbar
{
	color: #fff;
	box-shadow: 0px .33em 5px #cecece;
	font-family: 'Fira Sans', sans-serif;
	margin: 0;
	padding: .5em 0;
	background-color: #000;
}

.navlist {
	margin: 0;
}

.navlink
{
	margin: 0;
	padding: 0;
	display: inline-block;
}

.navlink a{
	text-decoration: none;
	padding: .5em 1em;
	/*border: 1px solid #000000;*/
	color: #fff;
}

.navlink a:hover{
	text-decoration: underline;
}

.fa{
	color: #fff;
	display: inline-block;
	float: right;
	padding: 0.1em 1em;
}

/************************ Main Page ************************/

.main-container{
	margin: 20px;
}

/**** Contact Information ****/
.contact-container{
	float: center;
	margin: 1em;
	margin-bottom: 2em;
	position: static;
	background-color: #f7f7f7;
	border: 2px solid #cecece;
	min-width: 200px;
	max-width: 97.5vw;
	box-shadow: 0px .33em 5px #cecece;

}

.signups-container{
	background-color: #fff;
	padding: .1em 1em;
	text-align: center;
	max-width: inherit;
}

.signups{
	font-family: 'Fira Sans', sans-serif;
	color: #000;
	background-color: #fff;
}

/*HOW DO I GET THIS SHIT IN THE CENTER*/
.input-container{
	background-color: #f7f7f7;
	padding: 1em 30%;
	max-width: 97.5vw;
	min-width: none;
}

#name-input{
	font-family: 'Fira Sans', sans-serif;
	color: grey;
	background-color: #fff;
	position:static;
	vertical-align: middle;
	display: inline-block;
	height: 26px;
	width: 150px;
	font-size: .75em;
	text-align: center;
	transition: 0.5s;
	padding: 0 20px;
	border: 2px solid #cecece;
	float: center;
}

#name-input.focus{
	outline: none;
	outline-width: 0;
}

#email-input{
	font-family: 'Fira Sans', sans-serif;
	color: grey;
	background-color: #fff;
	position:static;
	vertical-align: middle;
	display: inline-block;
	height: 26px;
	width: 150px;
	font-size: .75em;
	text-align: center;
	transition: 0.5s;
	padding: 0 20px;
	border: 2px solid #cecece;
	float: center;

}

#contact-button{
	font-family: 'Fira Sans', sans-serif;
	color: #dc4405;
	background-color: #fff;
	position:relative;
	vertical-align: middle;
	height: 30px;
	width: 150px;
	font-size: .75em;
	text-align: center;
	transition: 0.5s;
	padding: 0 25px;
	cursor: pointer;
	border: 2px solid #dc4405;
	-webkit-transition:0.5s;
}

#contact-button:hover{
	border: 2px solid #dc4405;
	color: #dc4405;
	background-color: #000;
}

#contact-button::before, #contact-button::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}


/**** Announcements ****/
.announcement-container{
	border: 2px solid #cecece;
	box-shadow: 0px .33em 5px #cecece;
	margin: 1em;
	background-color: #f7f7f7;
}

.announcement-title{
	background-color: #fff;
	padding: 1em;

	font-family: 'Arvo', serif;
	font-size: 1.25em;
	text-decoration: underline;
}

.announcement-content{
	background-color: #fff;
	font-family: 'Fira Sans', sans-serif;
	padding: 1em;
	padding-top: 0;
}

.announcement-images{
	background-color: #fff;
	/*somehow align these within a row and flex them*/
	padding: 1em;
}

.announcement-author{
	font-family: 'Arvo', serif;
	font-size: .75em;
	padding: 1em;
}

.announcement-sig{
	display: flex;
	flex-wrap: wrap;
	font-style: italic;
	color: #a3a3a3;
	margin: 0;
}

.announcement-date{
	display: inline;
}

/**** Page Tail..er ****/
.tail-container{
	font-family: 'Times', serif;
	background-color: #000000;
	color: #fff;
	padding: 0.33em;
	border-top: 2px solid #dc4405;
	padding-left: 30px;
}

.fa-copyright{
	float: none;
}

/************************ Officer Page ************************/

/* Styling need improvement*/
.officer-card-container{
	margin: 50px 10%;
	display: flex;
	flex-wrap: wrap;
}

.officerCard{
	flex: 0 1 28%;
	display: flex;

	margin-left: 1em;
	margin-right: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px solid #dadada;
	border-radius: 10px;
	box-sizing: border-box;
}

.name-container{
	float: left;
	min-width: 150px;
	max-width: 150px;
	padding: 1em;
	padding-top: 2.5em;

	font-family: 'Arvo', serif;
	font-size: 1.5em;
	text-align: center;
}

.title-container{
	background-color: inherit;
	padding-top: .5em;

	font-size: .7em;
	font-family: inherit;
	font-style: italic;
	text-align: inherit;
}

.bio-container{
	display: inline-block;
	margin: 20px;
	padding: 1em;

	font-family: 'Fira Sans', sans-serif;
	text-align: left;
}

/*NOT DONE STYLING IMAGES YET*/
.image-container{
	float: left;
}

.officer-photo{
	/*float: right*/
	padding: 1em;
	display: inline-block;
	position: relative;
	/*photos are widthxheight 6x4 in dimensions -- this could change if it's easier*/
	max-width: 300px;
	max-height: 300px;
	border-radius: 50%;
}
